
/**
 * Properties inherited by all elements
 */
html {
  font-family: "Arial", "FreeSans", "Helvetica", sans-serif;
  line-height: 1.4;
  font-size: 13px;
  word-wrap: break-word;
  color: #444444;
}
@media only screen and (max-device-width: 480px) {
  html {
    font-size: normal!important;
  }
}

/**
 * Headers
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}
h1 {
  margin: 20px 0 10px 0;
  font-size: 31px;
}
h2 {
  margin: 18px 0 11px 0;
  font-size: 25px;
}
h3 {
  margin: 14px 0 6px 0;
  font-size: 20px;
}
h4 {
  margin: 7px 0;
  font-size: 16px;
}
h5,
h6 {
  margin: 5px 0;
  font-size: 14px;
}

/**
 * Block elements
 */
p {
  line-height: 22px;
}
p + p,
ul + p,
ol + p {
  margin-top: 16px;
}
pre {
  font-family: monospace;
  overflow: hidden;
}
blockquote {
  padding-left: 15px;
  border-left: 3px solid #CBCAC8;
  color: #666666;
  font-style: italic;
  margin: 20px 0 20px 20px;
  line-height: 1.5;
}

/**
 * Inline elements
 */
strong {
  font-weight: 700;
}
em {
  font-style: normal;
  font-weight: 700;
}
kbd {
  background-color: #E9E9CE;
  border: 1px outset #575757;
  color: #575757;
  padding: 2px 5px;
}
abbr[title],
dfn[title],
acronym[title] {
  border-bottom: 2px dotted gray;
}
del {
  text-decoration: none;
  background: url(images/strike.png) repeat-x center right;
}
samp,
var,
code {
  outline: 1px dashed #63565F;
}
ins {
  border: 1px dashed #63565F;
}
sub {
  vertical-align: sub;
}
sup {
  vertical-align: super
}
tt {
  font-family: monospace;
}
*::selection {
	background: #63565F;
  color: #ffffff;
}
*::-moz-selection {
	background: #63565F;
  color: #ffffff;
}

/**
 * Lists
 */
ul,
ol,
dl {
  list-style-position:  inside;
}

ul li,
ol li,
dl dt,
dl dd {
  line-height: 22px;
}
ul {
  margin-left: 10px;
  list-style: none;
}
li > ul {
  margin-top: 2px;
  margin-left: 0px;
}
ul li {
  margin: 0 0 5px 0;
  padding: 0 0 0 20px;
  background: url(images/list-item.gif) no-repeat 0 5px;
}
ul li.collapsed:after {
	content: "›";
  padding-left: 5px;
  font-size: 14px;
}
ul.inline li,
ul.links li {
  background-position: 0px 6px;
}
ul.inline li {
  display: inline;
}
ol {
  margin-left: 10px;
  list-style: decimal;
  list-style-position:  inside;
}
dl dt {
  margin-top: 5px;
  font-weight: 900;
}
dd {
  margin-left: 15px;
}

/**
 * Links
 */
a {
  color: #4265A7;
  text-decoration: none;
}
a:hover {
  color: #993333;
}
a:focus {
  outline: 1px dashed #993333;;
  color: #993333;;
}
#block-system-main a[href^="http"]:after {
	content: "\21D7";
	font-size: 15px;
  padding-left: 3px;
}
#block-system-main a[href ^="mailto:"] {
  padding-right: 24px;
  background: url(images/link-mail.png) no-repeat right;
}
block-system-main a[href ^="https"] {
  padding-right: 18px;
  background: url(images/link-encrypted.png) no-repeat right;
}
block-system-main a[href ^="https"]:after {
  content: "";
  padding-left: 0;
}
a::selection {
	background: #4265A7;
  color: #ffffff;
}
a::-moz-selection {
	background: #4265A7;
  color: #ffffff;
}

/**
 * Tables
 */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  padding: 11px 14px;
  text-align: left;
}
th,
thead {
  background-color: #333333;
  color: #fcfcf8;
}
thead a,
th a {
  color: #ffffff!important;
}
thead a:hover,
th a:hover {
  color: #ffffff;
  opacity: 0.8;
}
tr {
  border-bottom: 1px solid #DFDAD5;
}
caption {
  font-weight: bold;
  margin-bottom: 4px;
  text-align: left;
}

/**
 * Forms
 */
/* Wrappers, labels and helpers */
fieldset {
  border-top: 1px solid #b8ada2;
  margin: 10px 0;
}
legend {
  padding-right: 7px;
  font-size: 13px;
  font-weight: 700;
}
.form-item {
  margin: 20px 0;
}
.form-item:last-child {
  margin-bottom: 10px;
}
.form-radios .form-item,
.form-checkboxes .form-item {
  margin: 5px 0;
}
.form-item:first-child {
  margin-top: 0;
}
.form-item .description {
  margin-top: 6px;
  font-size: 12px;
}
label {
  vertical-align: middle;
  display: block;
  font-size: 11px;
  margin-bottom: 5px;
}
label.option {
  display: inline;
  margin-left: 3px;
}
span.form-required {
  font-weight: 700;
  color: #FF3300;
}

/* Text inputs*/
input.form-text,
input.form-password,
input.form-file,
textarea {
  padding: 6px;
  font-family: "Arial", sans-serif;
  font-size: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input.form-text,
input.form-password,
textarea {
  color: #404040;
  border: 1px solid #D6D1CC;
  background-color: #FFFFFF;
}
input.form-text:focus,
input.form-password:focus,
textarea:focus {
  border: #4265A7 1px solid;
}
html.js input.form-autocomplete {
  background-image: none;
}
textarea {
  width: 100%;
  min-height: 230px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
}
/* Select inputs */
input.form-checkbox,
input.form-radio {
  display: inline;
  vertical-align: middle;
}
select {
  padding: 3px;
}
.form-item-choice {
  padding: 3px 0;
}
/* Buttons */
input.form-button,
input.form-submit {
  cursor: pointer;
  background-color: #f3f3f3;
  color: #404040;
  border: 1px solid #868686;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 11px;
  padding: 7px 14px;
  margin: 4px 3px 4px 0;
}
input.form-button:hover,
input.form-submit:hover,
input.form-button:focus,
input.form-submit:focus {
  background-color: #eeebe8;
}
input.form-button:focus,
input.form-submit:focus {
  outline: 1px dashed #339ac3;
}

