
#branding a#logo,
#branding #site-name,
#branding #site-slogan,
#header-menu .content ul li,
#footer-columns > .column,
ul#info li,
.tabs ul.tabs li,
ul.pager li,
.node ul.links,
.comment .content h3,
.comment .permalink,
.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference .field-items,
.field-type-taxonomy-term-reference .field-item,
.search-advanced .criterion,
.search-advanced .action {
  zoom: 1;
  display: inline;
}
#branding #site-name a {
  display: block;
}
tr td {
  border-bottom:1px solid #DFDAD5;
}
ul li,
ol li,
.block ul li,
ul.action-links {
  list-style: none outside none;
}
.poll .bar  {
  width: 100%;
}
.resizable-textarea .grippie {
  width: 102%;
}
#comment-form-wrapper {
  margin-left: 0px;
  padding-left: 135px;
}
.node h1.node-title a,
.node h2.node-title a {
  line-height: 1.1;
}
#content {
  padding-bottom: 20px;
}
.comment {
  clear: left;
}
.comment .permalink {
  vertical-align: middle;
}
