
/**
 * Layout
 */
#header,
#header-menu,
#main,
#footer {
  margin: 0 auto;
  width: 960px;
}
#sidebar > .inner {
  margin: 36px 0 0 50px;
}
#content,
#sidebar {
  float: left;
}
body.sidebar-first #content {
  width: 70%;
}
#sidebar {
  width: 30%;
}
body.no-sidebars #content {
  width: 100%;
}

/**
 * Utility classes
 */
.element-hidden {
  display: none;
}
.element-invisible,
#header-menu h2 {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
html.js .js-hide {
  display: none;
}
.nowrap {
  white-space: nowrap;
}
.clearfix:after,
.clear-block:after {
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

/**
 * Wrappers
 */
html {
  height: 100%;
}
body {
  background-color: #F9F7F5;
}
#header-wrapper {
  background-color: #443B31
}
#main-wrapper {
  background: url("images/content-background.gif") repeat-x left top;
  min-height: 300px;
}
#content {
  margin-top: 25px;
  margin-bottom: 20px;
}
#sidebar {
  font-size: 12px;
}
#footer-wrapper {
  border-top: 10px solid #DED6D4;
  background-color: #E7E1DE;
}
#footer {
  padding-top: 8px;
}

/**
 * Skip link
 */
#skip-link {
  height: auto;
  overflow: hidden;
  padding: 0;
  margin-top: 0;
  position: absolute;
  left: 20px;
  width: auto;
  z-index: 990;
}
#skip-link a {
  position: absolute;
  display: block;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background: #444;
  color: #ffffff;
  font-size: 0.94em;
  text-decoration: none;
  outline: 0;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  padding: 1px 10px 2px 10px;
}

/**
 * Branding
 */
#branding {
  padding: 35px 0 35px 13px;
}
#branding a#logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}
#branding #site-name {
  margin: 0 23px 0 0;
  vertical-align: middle;
  display: inline-block;
  font-size: 55px;
  line-height: 1;
}
#branding #site-name a {
  font-size: 55px;
  font-weight: 700;
  font-family: "Yanone Kaffeesatz", "FreeSans", sans-serif;
  letter-spacing: -1px;
  margin: 0;
  line-height: 50px;
  color: #E9E5E0;
  text-decoration: none;
}
#branding #site-name a:active,
#branding #site-name a:focus {
  outline-color: #373737; 
}
#branding #site-slogan {
  color: #94806a;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

/**
 * Header menu
 */
#header-menu-wrapper {
  background: #fffefe url("images/main-menu.png") repeat-x left top;
  border-top: 1px solid #ede7e0;
  border-bottom: 1px solid #ede7e0;
}
#header-menu .block {
  margin-bottom: 0;
}






/* 1st level */

#header-menu .content {
}
#header-menu .content ul {
  margin-left: 0;
  font-size: 0;
}
#header-menu .content ul li {
  display: inline-block;
  padding-left: 0;
  background: none;
  margin: 0;
  vertical-align: middle;
}
#header-menu .content ul li a {
  color: #444444;
  border: 1px solid #e3e0d5;
  font-size: 13px;
  display: block;
  text-decoration: none;
  padding: 8px 21px;
}
#header-menu .content ul li.active a {
  background-color: #ffffff;
}
#header-menu .content li a:hover,
#header-menu .content li a:active,
#header-menu .content li a:focus {
  color: #000000;
  background-color: #FFFFFF;
}
#header-menu .content li.collapsed a:after {
	content: none;
}
#header-menu .content li.expanded {
  position: relative;
}
#header-menu .content li.expanded a {
  margin: 0;
  padding-right: 25px;
  background-image: url(images/arrow-down.png);
  background-repeat: no-repeat;
  background-position: 88% 14px;
}
/* 2nd level */
#header-menu .content li.expanded ul {
  display: none;
  position: absolute;
  padding: 2px 0;
  width: 185px;
  top: 29px;
  left: 0;
  background-color: #F9F7F5;
  z-index: 100;
}
#header-menu .content li.expanded:hover > ul {
  display: block;
}
#header-menu .content li.expanded li {
  display: block;
  margin: 0;
}
#header-menu .content li.expanded li.expanded a {
  background: url(images/arrow-right.png) no-repeat 96% 13px;
}
#header-menu .content li.expanded li a {
  padding: 6px 12px;
  font-size: 13px;
  border-top: none;
  border-bottom-color: #DBD7CA;
  background: none;
}
#header-menu .content li.expanded  ul a:hover {
  background-color: #fff;
}
/* 3rd, 4th, 5th, (...) level  */
#header-menu .content li.expanded ul ul {
  display: none;
  left: 184px;
  top: -8px;
}
#header-menu .content li.expanded li.expanded ul {
  border-top: 1px solid #DBD7CA;
}
#header-menu .content li.expanded li.expanded ul a {
  background-image: none;
}









/**
 * Footer
 */
#footer .block {
  margin-bottom: 10px;
}
#footer .block h2 {
  border-bottom: 2px solid #DBD3D0;
  font-size: 16px;
  color: #413F3E;
}
#footer-columns > .column {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}
#footer-columns.columns-1 > .column {
  width: 100%;
}
#footer-columns.columns-2 > .column {
  width: 49%;
}
#footer-columns.columns-3 > .column {
  width: 33%;
}
#footer-columns.columns-4 > .column {
  width: 24%;
}
#footer-columns .region {
  margin: 20px;
}
#footer-columns .column.first .region {
  margin-left: 0px;
}
#footer-columns .column.last .region {
  margin-right: 0px;
}

/**
 * Closure
 */
#closure {
  padding: 0 0 10px 0;
}
body.has-footer #closure {
  border-top: 2px solid #DBD3D0;
  padding-top: 10px;
}
#closure li a {
  color: #444444;
  text-decoration: none;
  border-bottom: 1px dotted;
}
#closure li a:hover {
  border-bottom-style: solid;
}
ul#info {
  float: left;
  margin-left: 4px;
  margin-top: 4px;
  font-size: 11px;
  background: url(images/footer-icon.png) no-repeat left center;
}
ul#info li {
  line-height: 1.3;
  background: none;
  padding: 0;
  display: inline-block;
  margin: 0 2px 0 0;
}
#footer-menu {
  float: right;
  font-size: 11px;
  margin-right: 6px;
}
#footer-menu h2 {
  height: 0;
  overflow: hidden;
  position: absolute;
}
#footer-menu ul {
  margin: 0;
}
#footer-menu ul li {
  display: inline;
  background: none;
  padding-left: 0;
  margin-left: 10px;
}

/**
 * Tabs
 */
.tabs {
  margin: 20px 0;
}
.tabs ul.tabs {
  margin-left: 0;
}
.tabs ul.tabs li {
  display: inline-block;
  padding-left: 0;
  background-image: none;
  margin: 0 4px 0 0;
}
.tabs ul.tabs li a {
  display: block;
  padding: 5px 16px;
  color: #444444;
  border: 1px solid #d1cbb5;
  background-color: #f0ebe7;
}
.tabs ul.tabs li.active a {
  background-color: #fbf9f8;
}
.tabs ul.tabs li a:active,
.tabs ul.tabs li a:focus {
  background-color: #ffffff;
  outline: none;
}
.tabs ul.tabs li a:hover {
  background-color: #ffffff;
}
.tabs ul.secondary {
  margin-top: -14px;
}
.tabs ul.secondary li a {
  font-size: 12px;
  padding: 2px 12px ;
}

/**
 * Pager
 */
ul.pager {
  list-style: none;
  text-align: left;
  margin-bottom: 10px;
}
ul.pager li {
  margin: 0 9px 0 0;
  padding: 0;
  background: none;
  display: inline-block;
}
ul.pager li a {
  color: #a88b6e;
}
ul.pager li a:hover {
  color: #444444;
}
#block-system-main ul.pager {
  margin-left: 0;
}

/**
 * Breadcrumbs
 */
#breadcrumb {
  margin: 20px 0;
}
.breadcrumb a {
  font-size: 12px;
}

/**
 * Action links
 */
ul.action-links {
  margin-left: 0;
}
ul.action-links li {
  padding-left: 0;
  background: none;
}

/**
 * Messages
 */
#messages {
  margin: 10px 0;
}
.messages {
  padding: 10px;
}
.messages.status {
  background-color: #f3fcdb;
  border: 1px solid #d4e99f;
}
.messages.warning {
  background-color: #fffee9;
  border: 1px solid #eeec93;
}
.messages.error {
  background-color: #fef7f3;
  border: 1px solid #f5d0b8;
}

/**
 * Collapsing fieldsets
 */
html.js fieldset.collapsible {
  margin: 15px 0;
  padding: 10px 0 0 0;
}
html.js fieldset.collapsible legend a {
  padding: 0 15px 0 0;
  margin: 0 2px 0 0;
  background: url("images/arrow-down.png") no-repeat right 4px;
}
html.js fieldset.collapsed legend a {
  background: url(images/arrow-right.png) no-repeat right 4px;
}
html.js fieldset.collapsed .fieldset-wrapper,
html.js fieldset.collapsed .action {
  display: none;
}

/**
 * Resizable textareas
 */
.resizable-textarea {
  width: 100%;
}
.resizable-textarea .grippie {
  height: 9px;
  width: 100%;
  background: #DED6D4 url(images/grippie.png) no-repeat center 2px;
  border: 1px solid #ccc;
  border-top-width: 0;
  cursor: s-resize;
  margin-top: -6px;
  position: relative;
  margin-right: 0!important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Aggregator module
 */
#content a.feed-icon {
  float: right;
  margin-top: 10px;
}
h3.feed-item-title {
  margin: 20px 0 0;
}
.feed-item-meta {
  margin: 0 0 10px 0;
}

/**
 * Block module
 */
.block ul {
  margin-left: 0;
  margin-bottom: 0;
}
.block ul li {
  padding-left: 0;
  background: none;
  list-style: none;
  line-height: 18px;
  margin: 0 0 6px;
}
.block ul li:first-child {
  margin-top: -2px;
}
.block ul li:last-child {
  border-bottom: none;
}
.block ul li a {
  text-decoration: none;
}
.block ul > li.expanded > ul {
  margin-top: 7px;
  margin-left: 12px;
}
.block table th,
.block table td {
  padding-left: 0;
  padding-right: 0;
}
.block .more-link {
  text-align: right;
  margin-top: 16px;
  margin-bottom: -17px;
}
.block {
  margin-bottom: 38px;
}
.block h2 {
  border-bottom: 1px solid #DFDAD5;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 4px;
  margin: 0 0 14px 0;
}
.block input.form-text,
.block input.form-password,
.block input.form-file {
  width: 100%;
  max-width: 400px;
}
#block-profile-author-information .user-picture {
  float: left;
}
#block-profile-author-information .user-picture img {
  margin: 5px 10px 5px 0;
}

/**
 * Node module
 */
.node {
  border-top: 1px solid #EFEAE4;
  margin-bottom: 24px;
  padding-top: 23px;
}
.node-header {
  margin-bottom: 16px;
}
.node.indent .content {
  margin-left: 131px;
}
.date {
  background: url(images/date.png) no-repeat left 4px;
  padding-left: 20px;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 2px;
  float: left;
  width: 109px;
  margin-top: 2px;
}
.date .month,
.date .day {
  font-weight: 700;
  color: #BEAA99;
}
.date .year {
  font-weight: 700;
  color: #E0C9B5;
  display: block;
  position: relative;
  top: -5px;
}
.node.indent .title-and-meta {
  margin-left: 131px;
}
.node h1.node-title,
.node h2.node-title {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
}
.node h1.node-title a,
.node h2.node-title a {
  font-size: 20px;
  font-family: "Arial", "Helvetica", sans-serif;
  text-decoration: none;
  line-height: 11px;
  font-weight: 700;
  color: #444444;
}
.node h1.node-title a:hover,
.node h2.node-title a:hover {
  color: #993333;
}
.node .meta {
  margin-top: 0px;
  font-size: 12px;
  color: #917D69;
}
.node .meta a {
  color: #a88b6e;
}
.node .meta a:hover {
  color: #453729;
}
.node .user-picture {
  background-color: #F0EBE6;
  border: 1px solid #E6E1DC;
  float: left;
  margin: 5px 15px 9px 0;
  padding: 8px;
}
.node .user-picture img {
  width: 70px;
}
.node .field-type-image {
  margin: 5px 15px 9px 0;
  float: left;
  background-color: #F0EBE6;
  border:1px solid #E6E1DC;
  padding: 8px;
}
.node .field-name-body {
  margin-bottom: 14px;
}
.node ul.links li {
  background: none;
}
.node ul.links li.comment-comments a,
.node ul.links li.comment-new-comments a,
.node ul.links li.comment-add a {
  background: url("images/comment.png") no-repeat scroll left 2px transparent;
  padding-left: 20px;
}
/* "Read more" and "X comments" links */
.node .links-wrapper {
  margin: 4px 0;
}
.node ul.links {
  display: inline-block;
  margin: 5px 0;
}
.node ul.links li {
  padding-left: 0;
  margin-right: 16px;
}
.node ul.links li a {
  color: #a88b6e;
}
.node ul.links li a:hover {
  color: #453729;
}
.node ul.links li.comment_comments,
.node ul.links li.comment_add {
  padding-left: 18px;
  background: url(images/comment.png) no-repeat 0% 65%;
}

/**
 * Book module
 */
.book-navigation {
  margin-top: 10px;
}
.page-links {
  position: relative;
  margin-top: 25px;
  border-top: 1px solid #DFDAD5;
  padding: 13px 0;
}
.page-links a.page-previous {
  float: left;
}
.page-links a.page-up {
  position: absolute;
  left: 50%;
}
.page-links a.page-next {
  float: right;
}

/**
 * Comment module
 */
#comments-wrapper {
  margin-top: 40px;
}
#comments h2 {
  font-size: 13px;
  color: #423C37;
  margin: 0 0 12px 0;
  font-weight: 700;
}
#add-comment-link {
  font-size: 16px;
  padding-left: 2px;
  color: #A88B6E;
}
.comment {
  border-top: 1px solid #EFEAE4;
  padding: 20px 0 20px 0;
}
#comments-wrapper .indented {
  margin-left: 35px;
}
.comment .info {
  display: block;
  float: left;
}
.comment .info a.username {
  display: block;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  text-decoration: none;
  color: #666666;
  font-weight: 700;
  letter-spacing:-1px;
}
.comment .date {
  margin-top: 4px;
  text-transform: none;
  color: #917D69;
  background: none;
  padding-left: 0;
  font-size: 11px;
  margin-bottom: 8px;
}
.comment .username-and-date {
  float: left;
}
.comment .user-picture {
  float: none;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
.comment .user-picture img {
  width: 40px;
  background-color: #FFFFFF;
  border-color: #E6E1DB #D6D1CC #D6D1CC #E6E1DB;
  border-style: solid;
  border-width: 1px;
  padding: 4px;
}
.comment .content {
  margin-left: 135px;
}
.comment .content h3 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 13px;
}
.comment .content h3 a {
  font-size: 13px;
  font-weight: 700;
  color: #444444;
}
.comment .permalink {
  display: inline-block;
  margin-right: 4px;
}
.comment .permalink a {
  font-size: 9px;
  font-weight: 700;
  color: #777777;
}
.comment ul.links li a {
  text-transform: capitalize;
}
h2#add-comment-form {
  border-top: 1px solid #EFEAE4;
  color: #555555;
  margin: 30px 0 10px 0px;
  padding: 12px 0 0;
}
#comment-form-wrapper {
}
.no-comments #comment-form-wrapper {
  margin-left: 0;
}
form#comment-form #edit-actions {
  margin: 0.8em 0 1.2em 0;
}

/**
 * Field, Field UI and File modules
 */
/* Taxonomy terms */
.field-type-taxonomy-term-reference .field-label {
  color: #B79F87;
  display: inline-block;
}
.field-type-taxonomy-term-reference .field-items {
  display: inline-block;
}
.field-type-taxonomy-term-reference .field-item {
  display: inline-block;
  margin-right: 5px;
}
.field-type-taxonomy-term-reference .field-item:after {
	content: ",";
}
.field-type-taxonomy-term-reference .field-item:last-child:after {
  content: none;
}

/**
 * Filter module
 */
fieldset.filter-wrapper {
  margin-top: 13px;
  border-top: none;
}
.filter-help {
  margin-top: 10px;
}
.filter-guidelines ul {
  margin: 3px 0 0 0;
}
.filter-guidelines ul li {
  padding-left: 20px;
}

/**
 * Forum module
 */
body.page-forum ul.action-links {
  margin: 9px 0;
}
#forum td.container {
  background-color: #F0EBE6;
}
#forum .name {
  margin-bottom: 4px;
}
#forum td {
  padding: 18px 14px;
  vertical-align: top;
}
#forum td.icon .topic-status-sticky {
  background: url(images/forum-sticky.png) no-repeat center center;
  width: 30px;
  height: 35px;
}
#forum td.icon .topic-status-default {
  background: url(images/forum-default.png) no-repeat center center;
  width: 37px;
  height: 32px;
}
#forum td.icon .topic-status-closed {
  background: url(images/forum-closed.png) no-repeat center center;
  width: 30px;
  height: 35px;
}
#forum td.icon .topic-status-hot {
  background: url(images/forum-hoht.png) no-repeat center center;
  width: 37px;
  height: 32px;
}
#forum td.icon .topic-status-new {
  background: url(images/forum-new.png) no-repeat center center;
  width: 42px;
  height: 39px;
}
#forum td.icon .topic-status-hot-new {
  background: url(images/forum-hot-new.png) no-repeat center center;
  width: 43px;
  height: 38px;
}

/**
 * OpenID module
 */
#edit-openid-identifier  {
  background-position: 3% 49%;
  padding-left: 25px;
}
.form-item-openid-identifier {
  margin: 10px 0;
}
.form-item-openid-identifier label {
  margin-top: 8px;
}
html.js #user-login-form li.openid-link,
html.js #user-login li.openid-link {
  margin-bottom: 8px;
}
#user-login-form .openid-links li.openid-processed {
  margin-bottom: 8px;
}
#user-login-form li.openid-link a, #user-login li.openid-link a {
  padding-left: 0;
  background: none;
}
.form-item-openid-identifier .description {
  display: none;
}
#user-login-form .form-type-password {
  margin-bottom: 13px;
}

/**
 * Poll module
 */

.poll .title {
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 1.3;
}
.poll .bar-wrapper {
  margin-bottom: 10px;
}
.poll .text {
  float: left;
  margin-bottom: 3px;
  line-height: 1.2;
}
.poll .percent {
  float: right;
  margin-bottom: 3px;
}
.poll .bar {
  background-color: #FBF9F8;
  border: 1px solid #D1CBB5;
}
.poll .bar .foreground {
  background-color: #BEAA99;
  height: 18px;
}
.vote-form label {
  font-size: 13px;
}
.vote-form .form-item-choice {
  margin: 6px 0;
  padding: 0;
}
.vote-form .title {
  font-weight: 700;
}
.vote-form .form-radios {
  margin: 13px 0 9px 0;
}

/**
 * Profile and User modules
 */
.profile dd {
  margin-left: 0;
}

/**
 * Search module
 */
.search-results p {
  margin-top: 0;
}
.search-results {
  margin: 5px 0 20px 0;
  list-style: none inside none;
}
.search-results .search-info {
  font-size: 0.9em;
}
.search-snippet strong {
  font-weight: 700;
}
.search-advanced .criterion {
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
}
.search-advanced .action {
  display: inline-block;
  vertical-align: top;
}

/**
 * Contexutal links module
 */
div.contextual-links-wrapper {
  font-size: 12px;
  z-index: 20;
}
a.contextual-links-trigger {
  background-position: 2px -18px;
}
ul.contextual-links {
  font-family: "Arial", sans-serif;
  padding: 0!important;
}
#sidebar-first ul.contextual-links {
  padding-top: 2px!important;
}
ul.contextual-links li {
  background: none;
  margin: 0;
}
ul.contextual-links li:first-child {
  margin-top: 1px;
}
div.contextual-links-wrapper ul.contextual-links a {
  line-height: 1;
}
 
/**
 * Tooblar module
 */
#toolbar {
  font-size: 11px;
}
#toolbar ul li {
  background: none;
}

